spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/clients_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: never

springdoc:
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    com.challenge.clients: INFO
